<%- include('./../navbarComponent/nav.ejs') -%>

<div class="board">
  <div class="menu">
    <h2 class="Dashboard">Dashboard</h2>
    <ul>
      <li class="team"><a class="link">Team Members</a></li>
      <li class="details"><a class="link">Projects</a></li>
    </ul>
  </div>
  <div class="data">
    <% data.forEach((d)=>{ %>
    <div class="teamMember">
      <h2 class="teamMember-header">Name: <%= d.Name %></h2>
      <p class="teamMember-p">Email: <%= d.Email %></p>
      <button class="btn teamMember-btn "  onclick="makeAdmin('<%= d.Name%>','<%= d.Email%>',this)">Admin</button>
    </div>
    <% }); %>
    <div class="projects">
      <a class="btn btn-second" href="/new-project">+ New Project</a>
      <div class="clear"></div>
      <% tasks.forEach((t)=>{ %>
      <div class="project">
        
        <h2><%= t.Title %></h2>
        <p><%= t.Track %></p>
        <button class="btn"><a class="link" href="/tasks/<%=t._id %>">More</a></button>
        
      </div>
      <%  });%>
    </div>
  </div>
</div>
<div class="clear"></div>

<script src="js/admin.js"></script>
<%- include('./../footerComponent/footer.ejs') -%>
